/* Fullscreen overlay */
.global-loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(15, 23, 42, 0.6); 
  background: rgba(15, 23, 42, 0.6); /* dark glass */
  backdrop-filter: blur(6px);
  z-index: 99999999;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loader box */
.global-loader {
  background: white;
  padding: 30px 40px;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
  min-width: 220px;
}

/* Spinner */
.spinner {
  width: 48px;
  height: 48px;

  border: 4px solid #e5e7eb;
  border-top: 4px solid #2563eb;

  border-radius: 50%;
  animation: spin 0.9s linear infinite;

  margin: 0 auto 15px;
}

.global-loader p {
  font-size: 14px;
  color: #334155;
  font-weight: 500;
}

/* Animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
